/* assets/globals.css */

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your global styles here */
.text-main {
  @apply text-8xl font-light text-center text-zinc-900 w-full;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.flex-center {
  @apply flex justify-center items-center;
}
